<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="Styles/full-glitch-text.css">
	<title>The Understanding of Nyan Silence</title>
</head>
<body>
	<h1>This page will contain an overview of whole applications design and other cringe features. For now it's only a place holder</h1>

	<h1>yey</h1>

	<br>

	<h2 class='hero glitch layers' data-text='Camellia'>Camellia</h2>
	<p th:text="${message}"></p>
</body>
</html>